<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OMG Puzzle! Pizuzzle!</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/styles/pizuzzle.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">OMG Puzzle! Pizuzzle!</span>
        </div>
      </div>
    </div>
    <div class="container game-intro" role="main">
      <div id="puzzle-container"
           data-game-id="<%= game.id %>"
           data-player-id="<%= player.id %>">
        <img src="<%= player.picture %>">
      </div>
    </div>
    <script src="/scripts/react.js"></script>
    <script src="/scripts/ui.js"></script>
  </body>
</html>
